In [1]:
!test -f test6.grib || wget https://github.com/ecmwf/emohawk/raw/main/docs/examples/test6.grib

### Inspecting GRIB contents

We read a GRIB file containing 6 messages:

In [2]:
import emohawk

fs = emohawk.load_from("file", "test6.grib")

#### Using ls()

In [3]:
fs.ls()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType
0,ecmf,t,isobaricInhPa,1000,20180801,1200,0,an,0,regular_ll
1,ecmf,u,isobaricInhPa,1000,20180801,1200,0,an,0,regular_ll
2,ecmf,v,isobaricInhPa,1000,20180801,1200,0,an,0,regular_ll
3,ecmf,t,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll
4,ecmf,u,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll
5,ecmf,v,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll

We can add extra keys:

In [5]:
fs.ls(extra_keys=["paramId"])

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType,paramId
0,ecmf,t,isobaricInhPa,1000,20180801,1200,0,an,0,regular_ll,130
1,ecmf,u,isobaricInhPa,1000,20180801,1200,0,an,0,regular_ll,131
2,ecmf,v,isobaricInhPa,1000,20180801,1200,0,an,0,regular_ll,132
3,ecmf,t,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll,130
4,ecmf,u,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll,131
5,ecmf,v,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll,132

#### Using describe

We can describe the whole object:

In [5]:
fs.describe()

We can alos describe a given parameter (defined by shortName or paramId):

In [6]:
fs.describe("t")

In [7]:
fs.describe(131)